<p id="notice"><%= notice %></p>

<p>
  <strong>Renter name:</strong>
  <%= @renter.renter_name %>
</p>

<p>
  <strong>Renter email:</strong>
  <%= @renter.renter_email %>
</p>

--> <%= link_to 'Edit info', edit_renter_path(@renter) %> |

--> <%= link_to 'log out', logout_path(:renter_id => @renter.id) , method: :delete  %> 
