<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>iRentex</title>

</head>
<body>
   <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <%= link_to "iRentex", root_path, class: "navbar-brand"%>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <!-- <ul class="nav navbar-nav">
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Services</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>-->
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <!-- Page Content -->
    <div class="container">


        <!-- FilterItems -->
        
        
        
        
        <%= form_for :searchItems, url: searchItems_path(:iid) do |f| %>
  
            <% count =0 
               @filters.each do |i| %>
            
                   
          <%= f.label  i.nameOfLabel  
         var = i.nameOfLabel %><br>
         
         <% if i.typeOfLabel == "text" %>       
                   <input type="text" name ="<%=i.nameOfLabel%>" >       
                         <% else %>
                        
                 <%@ColourArr.each do |c| -%>       
                <input name ="<%=i.nameOfLabel%>_<%=c%>" type="checkbox" value="<%=c%>" /> <%=c%> <br>              

                    <% end %>
                        
                         <% end %>
         
          
           
           </br>
             <% count = count+ 1
                  end %>
           
  <p>
    <%= f.submit :Search%>
  </p>
<% end %>
        
        
        
        
        
        
        
        
        
        
        
        
     <!--   <div class="row">
            <div class="col-lg-12">
                 <%= form_tag(home_index_path, :method => "get", id: "search-form") do %>
                 <%= text_field_tag :search, params[:search], placeholder: "Search items" %>
                 <%= submit_tag "Search" %>
                <h3>All Items</h3>
                 
            <% end %>
            </div>
        </div>  -->
        <!-- /.row -->

        <!-- Page Features -->
        <div class="row text-center">
            <% count =0 
               @items.each do |i| %>
            
                <div class="col-md-3 col-sm-6 hero-feature">
                    <div class="thumbnail">
                        
                        <div class="caption">
                        
                            <h3><%=  i.item_name  %></h3>  
                            <p><%= i.item_price %></p>
                             <%= link_to "view details", viewitem_path(:id => i.id) %>
                        </div>
                    </div>
                </div>
               <% count = count+ 1
                  end %>
            
        </div>
        <!-- /.row -->

        
        
        
        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; irentex 2017</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

</body>