<title> Edit Item</title>


<h1>Edit Item</h1>

<%= form_for @item, url: user_item_path, method: :patch   do |u| %>
<table>

	<p>
		<%= u.hidden_field :category_id, :value => @user.categories_id %>
		<tr><td> <%=	u.label :"Item Name:"         %> </td><td>  <%=	u.text_field :item_name  %></td></tr>
		<tr><td> <%=	u.label :"Item Description:"  %> </td><td> <%=	u.text_area :item_desc  %> </td></tr>
		<tr><td> <%=	u.label :"Item Available:"  %> </td><td> <%=	u.text_field :item_available  %> </td></tr>
		<tr><td> <%=	u.label :"Item Price:"        %> </td><td> <%=	u.text_field :item_price %> </td>
		<td> <%=	u.label :"Price per"          %> </td><td>  <%=   u.select(:item_per) do %>
							                        <%[['day','day'], 
							                           ['week', 'week'],
							                           ['month', 'month']].each do |c| -%>
	                                                    <%= content_tag(:option, c.first, value: c.last) %>	
	                                                    <% end %>
	                                                    <% end %>
	    </td></tr>
	    <tr>
	        <td> <%=	u.label :"Rental Period:"     %> </td>
	        <td> <%=	u.text_field :item_maxp, :value =>"max" %> </td>
	      
	        </tr>
	        <tr>
	        	<td></td>
	        	<td> <%=	u.text_field :item_minp, :value =>"min" %> </td>
		  	</tr>

	<tr></tr>	
	<tr><td><strong> Product Spesfications: </strong></td><td></td><td></td></tr>
	<% count =0 
	   @filters.each do |i|   %>
			 	<% if i.typeOfLabel == "text" %>
			 		<tr>
			 			<td><%=i.nameOfLabel%></td>
			 			<td><input type="text" name ="<%=i.nameOfLabel%>" value="<%=@itemSpecs[count].value%>"> </td>
			 		</tr>    
	            <% else %>
	            	<input type="text" name ="F<%=i.nameOfLabel%>" >
					<input type="text" name ="T<%=i.nameOfLabel%>" >
	 	     <% end %>
	         <% count = count+ 1
	    end %>
  <tr>
  <%= u.fields_for :item_attachments do |p| %>
      <td> <%= p.label :image %> </td>
      <td><%= p.file_field :image, :multiple => true, name: "item_attachments[image][]" %></td>
   <% end %>
 </tr>

   <tr><td> <%=u.submit %></td><td></td></tr>

</table>

<% end %>

<%= link_to 'Back', user_path(:id => params[:user_id]) %>