



<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Sign Up Form</title>
    <%=stylesheet_link_tag 'application' %>
  <%=stylesheet_link_tag 'school' %>
</head>

<body>

 
<div class="container">
  <%= form_with(model: school, local: true) do |form| %>
      <% if school.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(school.errors.count, "error") %> prohibited this school from being saved:</h2>

            <ul>
            <% school.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

    <div class="row">
      <h4> School Basic Info</h4>
      <div class="input-group input-group-icon">
          <%= form.text_field :school_name, id: :school_school_name , placeholder: "School Name" %>
        <div class="input-icon"><i class="fa fa-user"></i></div>
      </div>
      <div class="input-group input-group-icon">
        <%= form.text_field :school_email, id: :school_school_email , placeholder: "School Email" %>
        <div class="input-icon"><i class="fa fa-envelope"></i></div>
      </div>
      <div class="input-group input-group-icon">
          <%= form.text_field :school_telephone, id: :school_school_telephone , placeholder: "Telephone No." %>
        <div class="input-icon"><i class="fa fa-key"></i></div>
      </div>
     <div class="col-half">
    <div class="input-group ">
        <select name="school[school_city]" id="select1">
             <option>City</option>
                  <option value="Cairo">           Cairo            </option>
                  <option value="Alexandria City"> Alexandria City  </option>
                  <option value="Giza">            Giza             </option>
                  <option value="6 Of October" >   6 Of October     </option>
                  <option value="10th Of Ramdan City">    10th Of Ramdan City     </option>
                                    <option value="Al Arish" >
                        Al Arish              </option>
                                    <option value="Al Mahala" >
                        Al Mahala             </option>
                                    <option value="Al Mansourah" >
                        Al Mansourah              </option>
                                  
                                    <option value="Assuit" >
                        Assuit              </option>
                                    <option value="Aswan" >
                        Aswan             </option>
                                    <option value="Bani Swif" >
                        Bani Swif             </option>
                                    <option value="Benha" >
                        Benha             </option>
                              
                                    <option value="Damanhour" >
                        Damanhour             </option>
                                    <option value="Dumiat" >
                        Dumiat              </option>
                                    <option value="El Wadi El Gadid" >
                        El Wadi El Gadid              </option>
                                    <option value="Fayoum" >
                        Fayoum              </option>
                                    <option value="Giza" >
                        Giza              </option>
                                    <option value="Helwan" >
                        Helwan              </option>
                                    <option value="Hurghada" >
                        Hurghada              </option>
                                    <option value="Ismailia" >
                        Ismailia              </option>
                                    <option value="Kafr Al Sheikh" >
                        Kafr Al Sheikh              </option>
                                    <option value="Luxor" >
                        Luxor             </option>
                                    <option value="Marsa Matrouh" >
                        Marsa Matrouh             </option>
                                    <option value="Minia" >
                        Minia             </option>
                                    <option value="New Salhia" >
                        New Salhia              </option>
                                    <option value="Port Said" >
                        Port Said             </option>
                                    <option value="Qena" >
                        Qena              </option>
                                    <option value="Sadat City" >
                        Sadat City              </option>
                                    <option value="Sharm Sheikh" >
                        Sharm Sheikh              </option>
                                    <option value="Shebin El Koum" >
                        Shebin El Koum              </option>
                                    <option value="Sohag City" >
                        Sohag City              </option>
                                    <option value="Suez" >
                        Suez              </option>
                                    <option value="Tanta" >
                        Tanta             </option>
                                    <option value="Zakazik" >
                        Zakazik             </option>
                                </select>

        </select>
            </div>
            <div class="input-group ">
            <select name="school[school_area]" id="select2">
</select>

            </div>
    <div class="row">
      <div class="col-half">
        <h4>Date of Birth</h4>
        <div class="input-group">
          <div class="col-third">
            <input type="text" placeholder="DD"/>
          </div>
          <div class="col-third">
            <input type="text" placeholder="MM"/>
          </div>
          <div class="col-third">
            <input type="text" placeholder="YYYY"/>
          </div>
        </div>
      </div>
      <div class="col-half">
        <h4>Gender</h4>
        <div class="input-group">
          <input type="radio" name="gender" value="male" id="gender-male"/>
          <label for="gender-male">Male</label>
          <input type="radio" name="gender" value="female" id="gender-female"/>
          <label for="gender-female">Female</label>
        </div>
      </div>
    </div>
    <div class="row">
      <h4>Payment Details</h4>
      <div class="input-group">
        <input type="radio" name="payment-method" value="card" id="payment-method-card" checked="true"/>
        <label for="payment-method-card"><span><i class="fa fa-cc-visa"></i>Credit Card</span></label>
        <input type="radio" name="payment-method" value="paypal" id="payment-method-paypal"/>
        <label for="payment-method-paypal"> <span><i class="fa fa-cc-paypal"></i>Paypal</span></label>
      </div>
      <div class="input-group input-group-icon">
        <input type="text" placeholder="Card Number"/>
        <div class="input-icon"><i class="fa fa-credit-card"></i></div>
      </div>
      <div class="col-half">
        <div class="input-group input-group-icon">
          <input type="text" placeholder="Card CVC"/>
          <div class="input-icon"><i class="fa fa-user"></i></div>
        </div>
      </div>
      <div class="col-half">
        <div class="input-group">
          <select>
            <option>01 Jan</option>
            <option>02 Jan</option>
          </select>
          <select>
            <option>2015</option>
            <option>2016</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <h4>Terms and Conditions</h4>
      <div class="input-group">
        <input type="checkbox" id="terms"/>
        <label for="terms">I accept the terms and conditions for signing up to this service, and hereby confirm I have read the privacy policy.</label>
      </div>
    </div>

  <% end %>
</div>


  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

    <script src="js/index.js"></script>
    

<script>
var select1 = document.getElementById("select1");
var select2 = document.getElementById("select2");
var cairo = ['abo Rawash' , 'Azhar' ,'Tagomaa khames','El Tahrir', 'El Tahrir' ,'El Rehab' ,'Zaytoon' ,'Sayeda Nafisa' , 'Kasr El Eini' , 'Citadel (El-Kal3a)' ,'Maadi' , 'New Maadi' ,'Mokattam' ,'New Nozha' , 'Amiria' ,'Basateen' ,'Boulak Abo el Eila' ,'Boulak EL Dakroor' ,'Garden City' , 'Hadaiq Al-Qubba' ,'Helmeya' ,'Ramsis','Zamalek','Shoubra','Shoubra El khema','Sharabeya','Daher','Abbasiyya','Ain Shams','Ghamra','Kattamia','15th of May City','Obour City','Nasr City','Masaken Sheraton','Misr El-Kadima','Matareya','Manyal','Heliopolis','Down Town']
var alex = ['Ibrahimya','Abou Kir','Azarita','Agami','Asafra','Maamoura','El Montaza' ,'Mandara','Bahary','Borg el Arab' , 'Bolkly' , 'Gleem' ,'Roushdy','Zezenia','San Estefano','Sporting','Smouha','Sidi Bishr','Sidi Gaber','Shatby','Fleming','victoria','cleopatra','luaran','Mohram Bek','Raml Station','Moustafa Kamel','Manshia','Miami']
var giza = ['Giza and Pyramids','Imbaba','Harania','Dokki','Saft El Laban','Agouza','Faissal','Kitkat','Mansoureya','Mohandessin']

select1.onchange = function() {
    // empty select2
    while (select2.firstChild) {
        select2.removeChild(select2.firstChild);
    }


    if (select1.selectedIndex == 1) {
    for (var i = 0; i < cairo.length; i++) {
       var opt = cairo[i];
       var el = document.createElement("option");
       el.textContent = cairo[i];
       el.value = cairo[i];
       select2.appendChild(el);
    }}
    
    
    if (select1.selectedIndex == 2) {
    for (var i = 0; i < alex.length; i++) {
       var opt = alex[i];
       var el = document.createElement("option");
       el.textContent = alex[i];
       el.value = alex[i];
       select2.appendChild(el);
    }}
    
    if (select1.selectedIndex ==3) {
    for (var i = 0; i < giza.length; i++) {
       var opt = giza[i];
       var el = document.createElement("option");
       el.textContent = giza[i];
       el.value = giza[i];
       select2.appendChild(el);
    }}
    
    if (select1.selectedIndex >= 4) {
    
     
       var el = document.createElement("option");
       el.textContent = "All";
       el.value = "All";
       select2.appendChild(el);}
}
</script>
</body>
</html>

