<p id="notice"><%= notice %></p>

<p>
  <strong>School name:</strong>
  <%= @school.school_name %>
</p>

<p>
  <strong>School description:</strong>
  <%= @school.school_description %>
</p>

<p>
  <strong>School city:</strong>
  <%= @school.school_city %>
</p>

<p>
  <strong>School area:</strong>
  <%= @school.school_area %>
</p>

<p>
  <strong>School Education System:</strong>
  <%= @school.school_eduSystem %>
</p>

<p>
  <strong>School curriculum:</strong>
  <%= @school.school_curriculum %>
</p>

<p>
  <strong>School foreignteachers:</strong>
  <%= @school.school_foreignTeachers %>
</p>

<p>
  <strong>School feesrange:</strong>
  <%= @school.school_feesRange %>
</p>

<p>
  <strong>School availablegrades:</strong>
  <%= @school.school_availableGrades %>
</p>

<p>
  <strong>School age:</strong>
  <%= @school.school_age %>
</p>

<p>
  <strong>School website:</strong>
  <%= @school.school_website %>
</p>

<p>
  <strong>School telephone:</strong>
  <%= @school.school_telephone %>
</p>

<p>
  <strong>School email:</strong>
  <%= @school.school_email %>
</p>

<p>
  <strong>School app:</strong>
  <%= @school.school_app %>
</p>

<p>
  <strong>School address:</strong>
  <%= @school.school_address %>
</p>

<p>
  <strong>Admission status:</strong>
  <%= @school.admission_status %>
</p>

<p>
  <strong>Admission email:</strong>
  <%= @school.admission_email %>
</p>

<p>
  <strong>School cafeteria:</strong>
  <%= @school.school_cafeteria %>
</p>

<p>
  <strong>School soccerplayground:</strong>
  <%= @school.school_soccerPlayground %>
</p>

<p>
  <strong>School innovationspaces:</strong>
  <%= @school.school_InnovationSpaces %>
</p>

<p>
  <strong>School theater:</strong>
  <%= @school.school_theater %>
</p>

<p>
  <strong>School computerlabs:</strong>
  <%= @school.school_computerLabs %>
</p>

<p>
  <strong>School sciencelab:</strong>
  <%= @school.school_scienceLab %>
</p>

<p>
  <strong>School library:</strong>
  <%= @school.school_library %>
</p>

<p>
  <strong>School swimmingpool:</strong>
  <%= @school.school_swimmingPool %>
</p>

<%= link_to 'Edit', edit_school_path(@school) %> |
<%= link_to 'Back', schools_path %>
